---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "base", "media-queries", "syntax-highlighting";

/**
*
* Typography
*
**/

@import url("http://fonts.googleapis.com/css?family=Economica:700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

/**
*
* Variables
*
**/

$base-fontFamily: 'Lato', Helvetica, Arial, sans-serif;
$base-fontSize: 16;
$base-maxWidth: 940px;
$base-minWidth: 320px;
$font-economica: 'Economica', sans-serif;

$breakpoint-phone: 479px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;

/**
*
* General rules
*
**/

html {
  font-size: 62.5%;
}

body {
	margin: 20px 0 0 0;
	font-family: $base-fontFamily;
	@include font-size($base-fontSize);
}

h1 {
	margin-bottom: 30px;
	@include font-size(40);
}

h2 {
	font-family: $font-economica;
	text-transform: uppercase;
	@include font-size(18);
	margin: 30px 0 10px 0;	
}

p {
	margin-bottom: 15px;
	@include font-size(16);

	a {
		text-decoration: underline;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.loading {
	text-align: center;
	margin-top: 50%;
}

/**
*
* Section: About me
*
**/

section.about {
	@extend %clearfix;
	
	position: relative;

	p {
		width: 75%;
	}

	img[title='drawing'] {
		position: absolute;
		top: 50px;
		right: 50px;
	}

	// Skills
	$skills-leftColumn: 25%;

	ul:first-of-type {
		li {
			@extend %clearfix;

			em {
				float: left;

				&:first-child {
					width: $skills-leftColumn;
					text-align: right;
					padding-right: 20px;
				}

				&:last-child {
					width: 100% - $skills-leftColumn;
				}
			}

			code {
				display: block;
				font-size: 7px;
				background: black;
				border-radius: 8px;
				margin-top: 3px;
				opacity: 0.8;
				width: 0;
			}

			@include media("screen", "<tablet") {
				em {
					&:first-child,
					&:last-child {
						width: 100%;
						text-align: left;
					}
				}						
			}			
		}
	}

	h3 {
		@include font-size(9);
		border-bottom: 1px solid black;
		margin-left: $skills-leftColumn;
		margin-bottom: 5px;
		padding-top: 10px;

		em {
			font-style: normal;
			text-transform: uppercase;

			&:last-child {
				float: right;
			}
		}
	}

	@include media("screen", "<tablet") {
		p {
			width: 100%;
		}

		img[title='drawing'] {
			display: none;
		}

		h3 {
			margin-left: 0;
		}
	}	
}

/**
*
* Section: Portfolio
*
**/

.screenshots {
	@extend %clearfix;
	margin-bottom: 20px;

	img {
		float: left;
		border: 3px solid black;
	}

	@include media("screen", ">tablet") {
		img {
			width: 32%;

			&:not(:last-child) {
				margin-right: 2%;
			}			
		}
	}

	@include media("screen", "<tablet") {
		img {
			width: 49%;
			
			&:first-child {
				margin-right: 2%;
			}
			
			&:last-child {
				display: none;
			}
		}
	}

	@include media("screen", "<400px") {
		img {
			&:not(:first-child) {
				display: none;
			}

			width: 100%;
		}
	}
}

/**
*
* Section: Blog and blog site
*
**/

article.post {
	margin: 0 0 20px 0;
	
	p {
		line-height: 23px;
	}

	h1 {
		margin: 0;
		@include font-size(30);
	}

	ul, ol {
		padding-left: 15px;
		margin: 0 0 15px 15px;

		li {
			margin-bottom: 5px;
		}	
	}

	p, ul, ol {
		@include font-size(18);
	}	

	.postMeta {
		opacity: 0.5;

		span {
			margin-right: 20px;
		}

		@include media("screen", "<tablet") {
			span {
				display: block;
			}
		}
	}

	.postIcon {
		display: inline;
		margin: 0;
		width: 15px;
	}

	img {
		display: block;
		margin: 20px auto 5px auto;
		max-width: 100%;
	}

	figure {
		margin-bottom: 15px;

		figcaption {
			text-align: center;
			font-style: italic;
			@include font-size(13);
		}		
	}

	&.single {
		margin-top: 0;

		p:first-child:first-letter { 
			float: left; 
			@include font-size(75);
			line-height: 63px; 
			padding-top: 4px; 
			padding-right: 8px; 
			padding-left: 3px; 
			font-family: Georgia; 
		}
	}

	.excerpt {
		a {
			text-decoration: none;
		}
	}
}

#blogPost {
	display: none;
}

header.blogHeader {
	@extend %clearfix;
	position: relative;
	overflow: hidden;
	max-width: $base-maxWidth;
	min-width: $base-minWidth;
	margin: 0 auto 20px auto;
	border-bottom: 1px solid black;

	.backToMenu {
		position: absolute;
	}

	h1 {
		text-align: center;
		margin: 0;
		margin: 50px 0;
		padding-left: 70px;
	}

	.bust {
		position: absolute;
		top: 0;
		left: 70px;
		height: 150px;
		float: right;
	}

	@include media( "screen", "<tablet" ) {
	    h1 {
	    	padding-left: 0;
	    }

	    .bust {
	    	display: none;
	    }
  	};
}

// "Back to all posts" button
#container.singlePost {
	h2.backToAllPosts {
		margin-top: -10px;
	}	
}

h2.backToAllPosts {
	margin: 10px 0 15px 0;	
}

/**
*
* Section: Find me
*
**/

section.mediaIcons {
	margin-bottom: 20px;

	a {
		&:not(:last-child) {
			margin-right: 20px;	
		}

		img {
			width: 80px;
		}		
	}
}

/**
*
* Navigation
*
**/

#menu {
	position: absolute;
	min-width: $base-minWidth;
	left: 0;
	right: 0;
	padding-right: 60px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 400;
	text-transform: uppercase;
}

#mobileLogo {
	text-align: center;

	img {
		width: 200px;
		border-bottom: 1px solid black;
		padding: 0 40px;
		box-sizing: content-box;			
	}
}

.menuItem {
	font-family: $font-economica;
	@include font-size(28);
	margin: 0px 15px 0px 15px;
}

@include media("screen", ">tablet") {
	#mobileLogo {
		display: none;
	}

	#menu {
		display: none;
		margin-bottom: -40px;
	}
}

@include media("screen", "<tablet") {
	#menu {
		padding-right: 0;
		position: static;
		overflow: hidden;
		height: 1000px;
		transition: height 1s;

		.menuItem {
			display: block;
			@include font-size(40);
			margin: 10px 0;
		}

		&.hidden {
			height: 0;
			transition: height 1s;
		}
	}
}

nav.goBack {
	h2 {
		display: none;
		margin-top: 0;
	}

	@include media("screen", "<tablet") {
		h2 {
			display: block;
		}

		img {
			display: none;
		}
	}
}

/**
*
* Container and page-specific rules
*
**/

#container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	max-width: $base-maxWidth;
	//min-width: $base-minWidth;
	margin: 0 auto;
	padding: 0 10px 40px 10px;
	z-index: 999;

	&.portfolio {
		h1 {
			margin-left: -3px;
		}

		p {
			text-align: justify;
		}

		article {
			margin-bottom: 30px;
		}
	}

	&.findme {
		.outerWrapper {
			text-align: center;

			.innerWrapper {
				display: inline-block;
				text-align: left;
			}
		}

		h1 {
			margin-bottom: 20px;

			@include media("screen", "<phone") {
				.activePlatform {
					display: none;
				}
			}
		}
	}	
}

/**
*
* Video
*
**/

#background {
	position: relative;
}

.backgroundVideo {
	display: none;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#video1 {
	z-index: 150;
}

#video2 {
	z-index: 200;
}

#video3 {
	z-index: 250;
}

@include media("screen", "<tablet") {
	#background {
		display: none;
	}
}