{% assign pathNodes = page.inputPath | split: "/" %} {% assign fileName =
pathNodes[2] %} {% assign assetPath = name | prepend: "/" | prepend: fileName |
prepend: "/posts/" %}

<figure
  class="figure {% if caption %}figure--caption{% endif %} {% if frame != false %}figure--frame{% endif %}"
>
  <a class="figure__link" href="{{ assetPath }}" target="_blank" rel="noopener" aria-label="View full image">
    <img
      alt="{{ caption }}"
      class="figure__image"
      loading="lazy"
      onload="this.closest('.figure').classList.add('figure--loaded')"
      src="{{ assetPath }}"
      width="{{ width }}"
    />
  </a>

  <figcaption class="figure__caption">{{ caption }}</figcaption>
</figure>
