{% assign pathNodes = page.inputPath | split: "/" %}
{% assign fileName = pathNodes[2] %}
{% assign assetPath = name | prepend: "/" | prepend: fileName | prepend: "/posts/" %}

<figure class="figure {% if caption %}figure--caption{% endif %} {% if frame != false %}figure--frame{% endif %}">
  <img
    class="figure__image"
    onload="this.parentElement.classList += ' figure__inner--loaded'"
    src="{{ assetPath }}"
    {% if alt %} alt="{{ alt }}" {% endif %}
    {% if width %} width="{{ width }}" {% endif %}
  >

  <figcaption class="figure__caption">{{ caption }}</figcaption>
</figure>