---
title: 404
---
<html>
	<head>
		{% include stylesheets.html %}
		{% include meta.html %}
	</head>
	<body>
		<div id="content" class="content">
			{% include svg/defs.html %}
			{% include navigation.html %}

			<section class="error">
				<div class="error__image">
					<img src="/assets/images/glitch.png" />
				</div>
				<div class="error__text">
					<h1>Embarassing!</h1>
					<p>I'm not sure what was supposed to be here, but obviously something went bananas.</p>
				</div>
			</section>
		</div>
	</body>
</html>