---
title: Find me
route: findme
---	
<html>
	<head>
		{% include stylesheets.html %}
		{% include meta.html %}
	</head>
	<body>
		{% include svg/defs.html %}
		<div id="content" class="content">
			{% include navigation.html %}

			<div class="social-wrapper">
				<section class="social">
					<h1>Find me <span class="social__active-platform"></span></h1>
					<div class="social__icons">
						{% for platform in site.data.social %}
							<a href="{{ platform.url }}" target="_blank">
							<svg class="social__icon" data-title="{{ platform.name }}">
  								<use xlink:href="{{ platform.icon }}" />
							</svg>
						{% endfor %}
					</div>
					<p>... or drop me an <a href="mailto:mail@eduardoboucas.com">e-mail</a>.</p>
				</section>
			</div>		
		</div>
	</body>
</html>