---
title: Find me
route: findme
menuOrder: 4
---	
{% include navigation.html %}
<div class="outerWrapper">
	<div class="innerWrapper">
		<h1>Find me <span class="activePlatform"></span></h1>
		<section class="mediaIcons">
			{% for platform in site.data.social %}
				<a href="{{ platform.url }}" target="_blank"><img data-title="{{ platform.name }}" src="{{ platform.icon }}"/></a>
			{% endfor %}
		</section>
		<p>... or drop me an <a href="mailto:mail@eduardoboucas.com">e-mail</a>.</p>
	</div>
</div>
