---
title: Index
---
<!DOCTYPE html>
<html>
<head>
	<title>Eduardo Bouças</title>
	<meta charset="UTF-8">
	<meta name="description" content="A passionate and creative full-stack web developer that thinks code and numbers, but breathes art and design. Responsible and responsive. Terrible dancer.">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">	
	
	<!-- Open Graph -->
	<meta property="og:title" content="Eduardo Bouças"/>
	<meta property="og:image" content="http://eduardoboucas.com/images/Thumbnail.jpg"/>
	<meta property="og:url" content="http://eduardoboucas.com/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="I live in science, but I breathe art."/>

	<link rel="stylesheet" href="css/main.css">
	<script data-main="js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>	
</head>

<body>
	<!-- Google Tag Manager -->
	{% include googleTagManager.html %}
		
	<div id="container">
		<h2 class="loading">Hold on, let me grab a seat...</h6>
	</div>

	<script src="js/VideoLooper.js"></script>
	
	<!-- Google Analytics -->
	{% include googleAnalytics.html %}	
</body>
</html>