---
layout: default
pagination:
  data: collections.homepage
  size: 16
  alias: posts
permalink: "{% if pagination.pageNumber == 0 %}index.html{% else %}page/{{ pagination.pageNumber | plus:1 }}/index.html{% endif %}"
---

<main
  id="main"
  role="main"
  class="main constrain"
  data-paginator-current="{{ pagination.pageNumber | plus:1}}"
  data-paginator-total="{{ collections.homepage.size | divided_by: pagination.size | ceil }}"
>
  <div class="js-posts">
    {% for post in posts %} {% include partials/post-small.html post=post %} {%
    endfor %}
  </div>
</main>

<div class="js-paginator paginator">
  <div class="paginator__inner">
    <div class="paginator__button-wrapper">
      <a
        class="cta paginator__button js-load-more-articles"
        href="{{ pagination.nextPageLink }}"
        >Load more articles</a
      >
    </div>
  </div>
</div>
