@import '//fonts.googleapis.com/css?family=Economica:700';
@import '//fonts.googleapis.com/css?family=Lato:400,700';

$font-lato: 'Lato', Helvetica, Arial, sans-serif;
$font-economica: 'Economica', sans-serif;

$font-weight--normal: 400;
$font-weight--bold: 700;