.figure {
	margin: ($post-vertical-rythm * 2) 10px;
	text-align: center;
}

.figure--frame .figure__inner {
	background-color: $colour-light-grey;
	padding: 20px;
}

.figure--caption .figure__inner {
	padding-bottom: 10px;
}

.figure__inner {
    display: inline-block;
    background-image: url(/assets/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
}

.figure__inner--loaded {
  background-image: none;
}

.figure__caption {
	font-size: 0.7em;
	margin-top: 10px;
}