.preface {
	@include constrain($post-body-max-width, false);

	background-color: $colour-light-grey;
	margin-bottom: $post-vertical-rythm;
	padding-top: 20px;
	padding-bottom: 20px;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.preface--center {
  text-align: center;
}