{% if page.dir contains site.blog_url %}
  {% capture title %}{% if page.title %}{{ page.title }} - {{ site.blog_title }}{% else %}{{ site.blog_title }}{% endif %}{% endcapture %}

  {% assign description = site.blog_description %}

  {% assign og_site_name = site.blog_title %}

  {% if page.title %}
    {% assign og_title = page.title %}
  {% else %}
    {% assign og_title = site.blog_title %}
  {% endif %}

  {% assign og_type = 'blog' %}

  {% if page.dir == "/blog" %}
    {% assign og_description = site.blog_description | strip_html %}
  {% else %}
    {% if page.description %}
      {% assign og_description = page.description | strip_html %}
    {% else %}
      {% assign og_description = page.excerpt | strip_html %}
    {% endif %}
  {% endif %}

  {% if page.url %}
    {% capture og_url %}{{ site.site_url }}{{ page.url | replace:'index.html','' }}{% endcapture %}
  {% endif %}
{% else %}
  {% capture title %}{{ site.site_title }}{% endcapture %}

  {% assign description = site.site_description %}

  {% assign og_site_name = site.site_title %}

  {% assign og_title = site.site_title %}

  {% assign og_type = 'website' %}

  {% assign og_description = site.site_description | strip_html %}

  {% assign og_url = site.site_url %}
{% endif %}

{% if page.image %}
  {% capture image %}{{ site.site_url }}/assets/posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ page.image }}{% endcapture %}
{% else %}
  {% capture image %}{{ site.site_url }}/assets/images/bust.png{% endcapture %}
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.blog_title }}" href="{{ site.feed_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

<!-- Open graph -->
<meta content="{{ og_site_name }}" property="og:site_name">
<meta content="{{ og_title }}" property="og:title">
<meta content="{{ image }}" property="og:image">
<meta content="{{ og_type }}" property="og:type">
<meta content="{{ og_description }}" property="og:description">
<meta content="{{ og_url }}" property="og:url">

<!-- Facebook stuff -->
{% if page.dir contains site.blog_url %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  {% endif %}

  <meta content="{{ site.facebook_url }}" property="article:author">

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}

  {% if page.tags %}
    {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
{% endif %}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:image" content="{{ image }}" />
<meta name="twitter:title" content="{{ og_title }}" />
<meta name="twitter:description" content="{{ og_description }}" />
<meta name="twitter:url" content="{{ og_url }}" />