---
layout: default
---

{% include partials/post-navigation.html %}

<main id="main" role="main" class="main">
  {% if page.queued == null %}
    <article class="post post--full">
      <div class="constrain">
      	<h1 class="post__title feature-title">
          {{ title | feature_title }}
        </h1>
        <div class="post-meta post-meta--emphasis">
          {% if external-date %}
            <span>Originally published on {% if external-url %}<a href="{{ external-url }}">{% endif %}{{ external-name }}{% if external-url %}</a>{% endif %} on {{ external-date | fullDate }}</span>
          {% else %}
            <span>{{ date | fullDate }}</span>
          {% endif %}
        </div>
      </div>

      <div class="post__body body-text">
        {% if audio %}
          <div class="audio-player">
            <div class="audio-player__inner">
              <button class="js-audio-play">
                <svg class="audio-player__icon">
                  <use xlink:href="#icon-play"></use>
                </svg>
              </button>

              <button class="js-audio-pause" aria-hidden="true">
                <svg class="audio-player__icon">
                  <use xlink:href="#icon-pause"></use>
                </svg>
              </button>

              <span class="audio-player__label">Listen to this post</span>

              <audio class="js-audio">
                <source src="{{ audio }}" type="audio/mpeg">
              </audio>
              </div>
          </div>
        {% endif %}

        {% assign postInSeries = null %}

        {% if series %}
          <div class="preface">
            <p>This article is part of a series called <em>«{{ series }}»</em>:</p>

            <ul>
              {% for seriesPost in collections.series %}
                {% if seriesPost.data.series == series %}
                  <li>
                    {% if seriesPost.url == page.url %}
                      {% assign postInSeries = seriesPost %}
                      <span class="cta--active">{{ seriesPost.data.title }}</span>
                    {% else %}
                      {% if seriesPost.data.queued %}
                        <span>{{ seriesPost.data.title }}{% if seriesPost.data.queued != true %} ({{ seriesPost.data.queued }}){% endif %}</span>
                      {% else %}
                        <a href="{{ seriesPost.url }}">{{ seriesPost.data.title }}</a></li>
                      {% endif %}
                    {% endif %} 
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% else %}
          {% if preface %}
            <div class="preface">
              {{ preface | markdownify }}
            </div>
          {% endif %}
        {% endif %}
        
        {{ content | replace: '<!--tomb-->', ' &#8718;'}}

        {% if postInSeries and postInSeries.data.nextInSeries %}
          <p>
            <em>Next in the series: <a href="{{ postInSeries.data.nextInSeries.url }}">{{ postInSeries.data.nextInSeries.data.title }}</a></em>
          </p>
        {% endif %}
      </div>

      {% if disable-comments != true %}
        {% include partials/post-comments.html %}
      {% endif %}
    </article>
  {% endif %}
</main>
