@mixin constrain($max-width: $layout-max-width, $side-padding: false) {
    @if $side-padding {
        max-width: $max-width + (2 * $layout-side-padding);
        padding-left: $layout-side-padding;
        padding-right: $layout-side-padding;
    } @else {
        max-width: $max-width;
    }
    
    margin-left: auto;
    margin-right: auto;    
}

.constrain {
    @include constrain;
}

.constrain--padding {
    @include constrain($layout-max-width, true);
}

.constrain--body {
    @include constrain($post-body-max-width, true);
}

.constrain--narrow {
    @include constrain(900px, true)
}