@mixin heading-anchor() {
  a.heading-anchor {
    opacity: 0;
    position: absolute;
    left: 0;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover a.heading-anchor {
    background: none;;
    color: inherit;
    opacity: 1;
  }
}

@mixin heading2() {
  font-family: $font-family-secondary;
  font-size: 35px;
  line-height: 1.3;
  position: relative;

  @include heading-anchor();
  
  @include media(">=medium") {
    font-size: 50px;
  }
}

@mixin heading3() {
  font-family: $font-family-secondary;
  font-size: 28px;
  line-height: 1.3;
  position: relative;

  @include heading-anchor();
  
  @include media(">=medium") {
    font-size: 38px;
  }
}

.heading-2 {
  @include heading2;
}

.heading-3 {
  @include heading3;
}
