$ribbon-width: 50px;
$ribbon-bottom-height: 20px;

.ribbon {
    position: relative;
    width: $ribbon-width;
    height: 100px;
    background: currentColor;
    margin-bottom: $ribbon-bottom-height;
  
    &:after, &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -$ribbon-bottom-height;
        border-top: $ribbon-bottom-height solid transparent;
        border-bottom: $ribbon-bottom-height solid transparent;
    }

    &:before {
        left: 0;
        border-left: $ribbon-width/2 solid currentColor;
    }

    &:after {
        right: 0;
        border-right: $ribbon-width/2 solid currentColor;
    }
}

.ribbon__content {
    color: black;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.ribbon__icon {
    width: 20px;
    height: 20px;
    fill: black;
}