/**
*
* Reset some basic elements
*
**/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

%vertical-rhythm {
    margin-bottom: 15px;
}

/**
*
* Clearfix
*
**/

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
*
* Box-sizing
*
**/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
*
* Font size mixin (REMs with pixel fallback)
*
**/

@mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}

/**
*
* Code formatting
*
**/

pre,
code {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #eee;
}

code {
    padding: 1px 5px;
    margin: 0 5px;

    .lineno {
      opacity: 0.2;

      &::after {
        content: ":";
      }
    }
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    margin-bottom: 15px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight {
  margin-bottom: 20px;
}