<head>
    {% include meta.html %}
    {% include stylesheets.html %}
    <link rel="canonical" href="{{ site.site_url }}{{ site.blog_url }}">

    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <link rel="prev" href="{{ site.site_url }}{{ site.blog_url }}" />
        {% else %}
            <link rel="prev" href="{{ site.site_url }}{{ site.blog_url }}/page{{ paginator.previous_page }}" />
        {% endif %}
    {% endif %}

    {% if paginator.next_page %}
        <link rel="next" href="{{ site.site_url }}{{ site.blog_url }}/page{{ paginator.next_page }}" />
    {% endif %}

    {% if include.getcomments %}
        {% include blog/scripts.html getcomments="true" %}
    {% else %}
        {% include blog/scripts.html %}
    {% endif %}
</head>