<header class="blog-header">
  <div class="blog-header__back-to-site">
  	<a class="blog__back-to-site" href="/">
		{% include svg/use.html viewbox="0 0 45 60" id="icn--arrow" class="page-navigation__arrow" %}
		{% include svg/use.html viewbox="0 0 45 60" id="icn--chair" class="page-navigation__chair" %}
    </a>    
  </div>
  <h1 class="blog-header__title"><a href="/blog">Eduardo saying things.</a></h1>
  <img alt="Drawing of Eduardo's bust" class="blog-header__bust" src="/assets/images/bust.png"/>
</header>