<section id="blog" class="blog" data-page="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in paginator.posts %}
    <article class="post">
      <header class="post__header">
        {% if post.external-url %}
          <h1 class="post__title"><a class="read-post" href="{{ post.external-url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% include svg/use.html id="icn--external" class="post__external-title-icon" %}
          </h1>
        {% else %}
          <h1 class="post__title"><a class="read-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        {% endif %}
        <ul class="post__meta">
          <li class="post__date"><img src="/assets/images/icons/time.svg" class="post__icon"/> {{ post.date | date: "%b %-d, %Y" }}</li>
          {% if post.tags %}
          <li class="post__tags"><img src="/assets/images/icons/tag.svg" class="post__icon"/> {% for tag in post.tags %} <em><a href="/blog/tags.html#{{ tag }}">{{ tag }}</a></em>{% endfor %}</li>
          {% endif %}

          {% if post.external-url == null %}
            <li class="post__permalink"><img src="/assets/images/icons/link.svg" class="post__icon"/> <a href="{{ post.url }}">Permalink</a></li>
          {% endif %}
        </ul>
      </header>
      <div class="post__excerpt">
        {% if post.external-url %}
          <p class="cta"><a class="read-post arrow arrow--right" href="{{ post.external-url }}">Read post on {{ post.external-name }}</a></p>

          {{ post.content }}
        {% else %}
          {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}

            <p class="cta"><a class="read-post arrow arrow--right" href="{{ post.url }}">Read full post</a></p>
          {% else %}
            {{ post.content }}
          {% endif %}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% assign offset = paginator.page | minus:1 | times:paginator.per_page %}

{% if postsCovered < postCount %}
  <button class="load-more-posts cta">Load more posts</button>
{% endif %}