<section id="blog" class="blog" data-page="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in paginator.posts %}
    <article class="post">
      <header class="post__header">
        <h1 class="post__title"><a class="read-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <ul class="post__meta">
          <li class="post__date"><img src="/assets/images/icons/time.svg" class="post__icon"/> {{ post.date | date: "%b %-d, %Y" }}</li>
          {% if (post.tags and (include.origin != 'mainsite')) %}
          <li class="post__tags"><img src="/assets/images/icons/tag.svg" class="post__icon"/> {% for tag in post.tags %} <em><a href="/blog/tags.html#{{ tag }}">{{ tag }}</a></em>{% endfor %}</li>
          {% endif %}
          <li class="post__permalink"><img src="/assets/images/icons/link.svg" class="post__icon"/> <a href="{{ post.url }}">Permalink</a></li>
        </ul>
      </header>
      <div class="post__excerpt">
        {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
          <p class="cta"><a class="read-post arrow arrow--right" href="{{ post.url }}">Read full post</a></p>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% assign offset = paginator.page | minus:1 | times:paginator.per_page %}

{% if postsCovered < postCount %}
  <button class="load-more-posts cta">Load more posts</button>
{% endif %}