.comments {
	margin-top: $post-vertical-rythm * 3;
	padding: ($post-vertical-rythm * 2) 0;
	background-color: $colour-light-grey;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.comments--empty .comments__existing {
	display: none;
}

.comments__heading {
	margin-bottom: $post-vertical-rythm * 1.5;
}