.bio {
	@extend .cf;
}

.bio__copy {
	@include media('<tablet') {
		width: 100%;
	}
}

.bio__image {
	text-align: center;

	@include media('<tablet') {
		display: none;
	}
}

.skills {
	width: 90%;
	margin: 0 auto;

	thead {
		@include font-size(9);

		margin-bottom: 5px;
		padding-top: 10px;

		th:last-of-type {
			border-bottom: 1px solid black;
		}

		span {
			font-style: normal;
			text-transform: uppercase;
			float: left;

			&:last-child {
				float: right;
			}
		}			
	}

	tbody {
		span {
			display: block;
			background-color: black;
			font-size: 8px;
			border-radius: 8px;
			overflow: hidden;
		}

		.skills__title {
			@include font-size(12);

			text-transform: uppercase;
			text-align: right;
			padding: 5px 15px 5px 5px;
			width: 1%;
			white-space: nowrap;
		}
	}

	@include media('<500px') {
		thead {
			display: none;
		}
		
		tbody {
			span {
				@include font-size(12);

				background: none;
				overflow: visible;
			}
		}
	}
}