.post + .post {
	margin-top: 35px;
}

.post__body {
	>p:first-of-type {
		@extend .dropped-cap;	
	}

	img {
		display: block;
		margin: 20px auto 5px auto;
		max-width: 100%;
	}

	figure {
		margin-bottom: 15px;

		figcaption {
			@include font-size(13);

			text-align: center;
			font-style: italic;
		}		
	}

	blockquote {
		margin-bottom: 30px;
		
		p {
			font-style: italic;
			border-left: 1px solid black;
			opacity: 0.5;
			padding-left: 10px;			
		}
	}

	iframe {
		display: block;
		margin: 0 auto;
	}
}

.post__body,
.post__excerpt {
	ul {
	  list-style: disc inside none;
	}

	ol {
	  list-style: decimal inside none;
	}

	li {
	  margin-bottom: 15px;
	}

	h2 {
		@include font-size(25);
		
		text-transform: none;
	}	
}

.post__meta {
	@extend .cf;
	@include font-size(15);

	opacity: 0.5;

	li {
		float: left;
	}

	li + li {
		margin: 0 0 0 30px;
	}
}

.post__header {
	margin-bottom: 10px;
}

.post__title {
	@include font-size(32);

	margin-bottom: 5px;

	a {
		text-decoration: none;
	}
}

.post__external-title-icon {
	$size: 25px;

	width: $size;
	height: $size;
}

.post__icon {
	display: inline;
	margin: 0;
	width: 15px;
	height: 15px;	
}

@include media('<tablet') {
	.post__meta {
		li {
			float: none;
		}

		li + li {
			margin: 15px 0 0 0;
		}
	}

	.post__title {
		@include font-size(25);
	}
}

// Embedded tweet
.twitter-tweet {
	margin: 30px auto !important;
}

// Embedded CodePen
iframe[src*="codepen"] {
	margin-bottom: 15px;
}

.post__video-wrapper {
	position: relative;
	height: 0;
	margin-bottom: 20px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}