$comment__avatar-size: 90px;

.comments__separator {
	margin: 20px 0;
	border-color: $light-gray;
	border-width: 1px 0 0 0;
}

.comments__new {
	margin-top: 25px;
}

.comment {
	@extend .cf;
	
	padding: 10px;
	border: 1px solid $light-gray;

	p {
		line-height: 24px;
	}
}

.comment + .comment {
	margin-top: 20px;
}

.comment__avatar {
	float: left;
	width: $comment__avatar-size;
}

.comment__content-wrapper {
	margin-left: $comment__avatar-size + 20px;
}

.comment__author {
	text-transform: none;
	font-weight: bold;
	margin: 0;
}

.comment__date {
	@include font-size(14);
}