.blog-header {
	$height: 150px;

	@extend .cf;

	height: $height;
	line-height: $height;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid black;
	box-sizing: content-box;
	padding-top: 10px;
}

.blog-header__title {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0;
	padding-left: 70px;

	a {
		text-decoration: none;
	}	
}

.blog-header__bust {
	display: inline-block;
	height: 100%;
	float: left;
	margin-left: 15px;
	z-index: $z-index-level-1;
}

.blog-header__back-to-site {
	$collapsed-width: 55px;
	$expanded-width: 102px;
	$transition: width 0.6s ease-in-out;
	$img-height: 70px;

	display: inline-block;
	float: left;
	width: $collapsed-width;
	margin-top: 70px;
	transition: $transition;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: $z-index-level-1;
	font-size: 0;

	img {
		position: relative;
		height: $img-height;
		bottom: -$img-height;
		padding-bottom: 5px;
	}

	svg {
		width: 45px;
		height: 60px;
	}

	@include media(">=tablet") {
		&:hover {
			width: $expanded-width;
			transition: $transition;
		}
	}
}

@include media("<tablet") {
	.blog-header__title {
		position: static;
		padding: 0;
	}
	
	.blog-header__bust {
		display: none;
	}

	.blog-header__back-to-site {
		position: absolute;
		bottom: -90px;
	}
}

@include media("<465px") {
	.blog-header {
		height: auto;
		line-height: 45px;
	}

	.blog-header__title {
		@include font-size(30);
	}

	.blog-header__back-to-site {
		display: none;
	}
}