.menu {
	$menu--transition: 1s ease-in-out !global;

	position: absolute;
	width: 100%;
	z-index: $z-index-level-3;
	text-align: center;
	padding-right: 60px; // To compensate for the video not being totally centered
	transition: opacity $menu--transition;

	@include media('>=tablet') {
		html.videoautoplay & {
			opacity: 0;
		}
	}

	@include mobile-flow() {
		position: relative;
		top: 0;
		left: 0;
		transition: left $mobile-menu--transition;
		padding: 0 0 20px 0;
	}
}

.menu--visible {
	opacity: 1 !important;
	transition: opacity $menu--transition !important;	
}

.menu__item {
	@include font-size(23);

	margin: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-economica;

	@include media('<tablet') {
		@include font-size(30);

		position: static;
		display: block;
		width: 100%;
		margin: 30px 0;
	}
}