.notification-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.notification {
	background-color: white;
	display: inline-block;
	border: 1px solid $light-gray;
	padding: 20px;
	margin-bottom: 10px;
}

.notification__copy {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}