.social-wrapper {
	text-align: center;
}

.social {
	display: inline-block;
	text-align: left;
}

.social__icons {
	margin-bottom: 15px;
}

.social__icon {
	width: 80px;
	margin: 0 10px;
}

.social__active-platform {
	@include media('<tablet') {
		display: none;
	}
}