// --------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------

$breakpoints: (
  "small": 320px,
  "medium": 800px,
  "large": 1280px
);

// --------------------------------------------------------------
// Global rules
// --------------------------------------------------------------

body,
html {
  height: 100%;
}

body {
  @include rem(font-size, $font-size-normal);

  background-color: $colour-background;
  color: $colour-primary;
  display: flex;
  flex-direction: column;
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
}

[aria-hidden="true"] {
  display: none;
}

$post-padding: 30px;
$post-vertical-rythm: 25px;
$post-body-max-width: 700px;

@mixin post-title() {
  font-family: $font-family-primary;
  font-weight: bold;
  font-size: 35px;
}

// --------------------------------------------------------------
// Width constrain
// --------------------------------------------------------------

$layout-max-width: 1640px;
$layout-side-padding: 35px;
