// --------------------------------------------------------------
// Typography
// --------------------------------------------------------------

$font-family-primary: Times, serif;
$font-family-secondary: "AlternateGothicW01-No3", sans-serif;
$font-family-tertiary: "Helvetica", sans-serif;
$font-family-monospace: "Monaco", "Consolas", "Menlo", monospace;
$font-family-quotes: $font-family-primary;
$font-family-brand: "Playfair Display", $font-family-primary;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

$font-size-small: 16px;
$font-size-normal: 20px;
$font-size-large: 35px;

$line-height-normal: 1.2;

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap");

@font-face {
  font-family: "AlternateGothicW01-No3";
  src: url("/assets/fonts/d204d256-fb7f-488b-a5f2-57979585e00a.eot?#iefix");
  src: url("/assets/fonts/d204d256-fb7f-488b-a5f2-57979585e00a.eot?#iefix")
      format("eot"),
    url("/assets/fonts/836ee743-8a38-45fb-8076-f78de89ed923.woff2")
      format("woff2"),
    url("/assets/fonts/6e86a433-85a2-40a6-8dc7-58cc16a6cb9b.woff")
      format("woff"),
    url("/assets/fonts/72fb6a94-41e4-4db6-b19b-88ad54f05d97.ttf")
      format("truetype"),
    url("/assets/fonts/e3670e54-4d1a-499a-a84b-cf19198f20a5.svg#e3670e54-4d1a-499a-a84b-cf19198f20a5")
      format("svg");
}
