{% capture title %}
  <h1 class="masthead-title">
    <span>BUILD</span>
    <img alt="Build Times logo" class="masthead-logo" src="/assets/images/masthead-logo-small.png">
    <span>TIMES</span>
  </h1>
{% endcapture %}

<header class="masthead constrain--padding">
  <div class="masthead__wrapper">
    {% if page.url != '/' %}
      <a href="/">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}

    <div class="masthead-bar">
      <div class="masthead-bar__face">
        <div>
          <span class="masthead-bar__intro">A web development periodical </span>by <a href="/about">Eduardo Bouças</a>
        </div>

        <label
          for="search-toggle"
          class="masthead-bar__open-search-button search-button"
        >
          <svg class="search-button__icon">
            <use xlink:href="#icon-search"></use>
          </svg>
          <span class="search-button__label">Search</span>
        </label>
      </div>
      <div class="masthead-bar__face">
        <input
          id="search-input"
          type="text"
          class="masthead-bar__search-input"
          placeholder="Type to search (e.g. 'javascript')"
        />
        <label for="search-toggle" class="masthead-bar__close-search-button"
          >✕</label
        >
      </div>
    </div>
  </div>
</header>
