<header class="masthead constrain">
  <div class="masthead__wrapper">
    {% if page.url != '/' %}
    <a href="/">
      <h1 class="masthead-title">BUILD TIMES</h1>
    </a>
    {% else %}
    <h1 class="masthead-title">BUILD TIMES</h1>
    {% endif %}

    <div class="masthead-bar">
      <div class="masthead-bar__face">
        <div>
          <span class="masthead-bar__intro">A web development periodical </span>by <a href="/about">Eduardo Bouças</a>
        </div>

        <label
          for="search-toggle"
          class="masthead-bar__open-search-button search-button"
        >
          <svg class="search-button__icon">
            <use xlink:href="#icon-search"></use>
          </svg>
          <span class="search-button__label">Search</span>
        </label>
      </div>
      <div class="masthead-bar__face">
        <input
          id="search-input"
          type="text"
          class="masthead-bar__search-input"
          placeholder="Type to search (e.g. 'javascript')"
        />
        <label for="search-toggle" class="masthead-bar__close-search-button"
          >✕</label
        >
      </div>
    </div>
  </div>
</header>
