<form id="post-new-comment" class="form" action="{{ site.staticman.url }}" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    
    <input type="text" name="company" class="text-field" style="display: none">
    <input class="form__field text-field" type="text" name="fields[name]" placeholder="Name" required/>
    <input class="form__field text-field" type="email" name="fields[email]" placeholder="Email address (will not be public)" required/>
    <input class="form__field text-field" type="url" name="fields[url]" placeholder="Website (optional)"/>
    <input class="form__field text-field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>
    <textarea class="form__field text-field" rows="10" name="fields[message]" placeholder="Comment. Markdown is accepted." required></textarea>
    <input class="cta" type="submit" value="Send" />
</form>