{% if include.post.layout == 'external-post' %}
  {% assign link = include.post.external-url %}
{% else %}
  {% assign link = include.post.url %}
{% endif %}

<a href="{{ link }}" class="post-wrapper col col--1-1 col--1-2@medium">
  <article class="post post--small">
    <h1 class="post__title">{{ include.post.title }}</h1>
    <p class="post__meta post-meta">{% include helpers/format-date.html date=include.post.date %}</p>
    <div class="post__body">
      {{ include.post.excerpt | strip_html }}
    </div>
    <p class="cta post__read-more">
      <span class="cta__inner">
        {% if include.post.layout == 'external-post' %}
        Read on {{ post.external-name }}
        {% else %}
        Read more
        {% endif %}
      </span>
      {% if include.post.layout == 'external-post' %}
        <svg class="cta__icon">
          <use xlink:href="#icon-external"></use>
        </svg>
      {% endif %}
    </p>
  </article>
</a>