<a href="{{ post.url | url }}" class="post-wrapper post-wrapper--block">
	<article class="post post--feature js-post-featured">
	  <h1 class="post__title feature-title">{{ post.data.title | feature_title }}</h1>
	  <p class="post__meta post-meta">{{ post.date | fullDate }}{% include partials/post-meta-comment-count.html, post:post %}</p>
	  <div class="post__body">
	    {{ post.templateContent | split: '<!--more-->' | first | strip_html }}
	  </div>
	  <p class="cta post__cta">
			<span class="cta__inner">
				{% if post.data.layout == 'external-post' %}
				Read on {{ post.data.external-name }}
				{% else %}
				Read more
				{% endif %}
			</span>
			{% if post.data.layout == 'external-post' %}
				<svg class="cta__icon">
					<use xlink:href="#icon-external"></use>
				</svg>
			{% endif %}
		</p>
	</article>
</a>