<div class="js-post post-wrapper col col--1-1 col--1-3@medium col--1-5@large">
  <article class="post post--small post--video">
    <div class="post__ribbon-wrapper">
      <div class="ribbon">
        <div class="ribbon__content">
          <svg class="ribbon__icon tweet__icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </div>
      </div>
    </div>
    
    <div class="post__body">
      <img src="https://img.youtube.com/vi/{{ video.youtubeId }}/0.jpg">
      <!-- <iframe
        color="white"
        modestbranding="1"
        type="text/html"
        width="640"
        height="360"
        src="https://www.youtube.com/embed/{{ video.youtubeId }}"
        frameborder="0"
      ></iframe> -->
    </div>
  </article>
</div> 