.main {
	@include transition(transform opacity);

	flex: 1 0 auto;
	margin-top: $post-vertical-rythm;
	min-height: 100vh;
	overflow: hidden;
	width: 100%;
}

.main--homepage {
	@include constrain($layout-max-width + (2 * $post-padding) + 12px);
}

.search-toggle:checked ~ .main,
.search-toggle:checked ~ .paginator {
	transform: translateY(-80px);
	opacity: 0;
}