.main {
	@include transition(transform opacity);

	flex: 1 0 auto;
	margin-top: $post-vertical-rythm;
	overflow: hidden;
	width: 100%;
}

.search-toggle:checked ~ .main,
.search-toggle:checked ~ .paginator {
	transform: translateY(-80px);
	opacity: 0;
}