.masthead {
  position: relative;
  z-index: 2;
  background-color: $colour-background;
  text-align: center;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
}

.masthead-logo--mobile {
  margin: 20px 0 -30px 0;
  max-width: 260px;
  width: 100%;

  @include media('>=1025px') {
    display: none;
  }
}

.masthead-logo--desktop {
  display: none;
  width: 226px;

  @include media('>=1025px') {
	  display: block;
  }
}
