@mixin post-body() {
  margin-top: $post-vertical-rythm;
  font-size: 21px;
  line-height: 1.5;

  p {
    margin-bottom: $post-vertical-rythm;
  }

  a {
    @include link(true);
  }
}

@mixin post-title-variation($variation) {
  @include media(">=medium") {
    font-family: $font-family-primary;
    font-weight: normal;

    @if $variation == 1 {
      font-weight: bold;
    }

    @if $variation == 2 {
      font-style: italic;
    }

    @if $variation == 3 {
      font-family: $font-family-secondary;
      font-size: 45px;
      font-weight: bold;
      text-transform: uppercase;
    }

    @if $variation == 4 {
      font-weight: bold;
      font-style: italic;
    }
  }
}

.post {
  position: relative;
  display: block;
  max-width: 100%;
}

.post__content {
  > p:first-child {
    @include drop-cap;
  }
}

.post--small {
  padding: 15px;
  margin-bottom: 30px;

  @include media(">=medium") {
    text-align: center;
  }

  .post__title {
    @include post-title;

    .post-wrapper:nth-child(4n - 3) & {
      @include post-title-variation(1);
    }

    .post-wrapper:nth-child(4n - 2) & {
      @include post-title-variation(2);
    }

    .post-wrapper:nth-child(4n - 1) & {
      @include post-title-variation(3);
    }

    .post-wrapper:nth-child(4n) & {
      @include post-title-variation(4);
    }
  }

  .post__body {
    font-size: 18px;
    text-align: left;
  }

  .post__meta {
    display: inline-block;
  }
}

a > .post--small {
  @include transition(transform opacity);

  &:hover {
    transform: translateY(-3px);
    opacity: 0.6;

    .post__cta {
      @include cta-hover;
    }
  }
}

.post--room {
  margin-bottom: 70px;
}

.post--tint {
  background-color: $colour-light-grey;
}

.post--full {
  .constrain {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.post__meta {
  text-align: center;

  @include media(">=medium") {
    margin-top: 20px;
  }
}

.post__meta-icon {
  position: relative;
  top: -2px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.post__cta {
  margin-top: $post-vertical-rythm;

  & + & {
    margin-left: 10px;
  }
}

.post__hero-wrapper {
  padding: 0 5px;

  &:first-child {
    margin-left: -5px;
  }

  &:last-child {
    margin-right: -5px;
  }
}

.post__hero {
  background-color: #eeeee5;
  padding: 8px;
  margin-top: 30px;

  img {
    display: block;
    width: 100%;
  }

  @include media(">=medium") {
    padding: 20px;
  }
}

.post__body {
  @include post-body;
}

.post__external-info {
  margin-top: $post-vertical-rythm * 2;
  text-align: center;
}
