.banner {
  background-color: $colour-light-grey;
  font-family: $font-family-secondary;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}