$checkbox-size: 25px;

.checkbox {
  display: none;
}

.checkbox__label {
  position: relative;

  &:before {
    content: ' ';
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 2px solid black;
    margin: 0 10px -5px 0;
  }

  .checkbox:checked + &:after {
    content: 'x';
    display: inline-block;
    position: absolute;
    width: $checkbox-size;
    height: $checkbox-size;
    line-height: $checkbox-size;
    top: 0;
    left: 0;
    font-family: sans-serif;
    text-align: center;
  }
}