.post-video-container {
	background-color: black;
}

.post-video {
	@include constrain(1200px, true);
}

.post-video__inner {
	position: relative;
	height: 0;
	margin: ($post-vertical-rythm * 3) 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
