.text-field {
	@include transition(background);

	display: block;
	width: 100%;
	font-family: $font-family-primary;
	font-size: 20px;
	border: 2px solid #000;
	padding: 10px;
	background: transparent;
	outline: none;
	border-radius: 0;

	&:focus,
	&:active {
		background: white;
	}
}