---
layout: default
---

{% include partials/post-navigation.html %}

<main id="main" role="main" class="main">
  <article class="post post--full">
    <div class="constrain">
    	<h1 class="post__title feature-title">{% include helpers/generate-feature-title.html title=page.title visualTitle=page.visualTitle %}</h1>
    	<p class="post-meta post-meta--emphasis">{% include helpers/format-date.html date=page.date %}</p>
    	<div class="post__external-info">
    		<a class="cta" href="{{ page.external-url }}">Read on {{ page.external-name }}</a>
    	</div>
    </div>
  </article>
</main>