---
layout: portfolio
---
{% assign projects = site.portfolio | sort: 'order' %}
{% assign numberOfProjects = projects | size %}
{% assign numberOfProjectsInView = 8 %}

{% if page.handle %}
	{% assign currentProject = page %}
{% else %}
	{% assign currentProject = projects[0] %}
{% endif %}

<html>
	<head>
		{% include stylesheets.html %}
		{% include meta.html %}
	</head>
	<body>
		{% include svg/defs.html %}
		<div id="content" class="content content--allow-expansion">
			{% include navigation.html %}
			<nav class="project-nav content--expandable">
				<section class="project-nav__thumbnails" onscroll="this.className = this.className + ' scrolled'; this.onscroll = null;">
					<ul class="project-thumbnails">
						{% for project in projects %}
							<li data-projecthandle="{{ project.handle }}" class="project-thumbnail{% if currentProject.handle == project.handle %} project-thumbnail--active {% endif %}">
							<a href="/#/portfolio/{{ project.handle }}">
								<p>{{ project.title }}</p>
								<img src="/assets/images/portfolio/thumbnails/{{ project.thumbnail }}"/>
							</a>
							</li>
						{% endfor %}
					</ul>				
				</section>
			</nav>
			<section id="portfolio-project" class="project">
				<div class="project__video">
					{% if currentProject.video %}
						{% if currentProject.link %}
							<a href="{{ currentProject.link }}" target="_blank">
						{% endif %}
						<video id="project-video" preload="auto" src="/assets/videos/portfolio/{{ currentProject.video }}" poster="/assets/images/portfolio/screenshots/{{ currentProject.screenshot }}" autoplay loop></video>
						{% if currentProject.link %}				
							</a>
						{% endif %}
					{% endif %}
				</div>
				<div class="project__copy">
					{{ currentProject.content }}
				</div>
			</section>
		</div>
	</body>
</html>