---
layout: default
---

{% include partials/post-navigation.html %}

<main id="main" role="main" class="main">
  <article class="post post--full">
    <div class="constrain">
    	<h1 class="post__title feature-title">{% include helpers/generate-feature-title.html title=page.title %}</h1>
    	<p class="post-meta post-meta--emphasis">{% include helpers/format-date.html date=page.date %}</p>
    </div>
    
    <div class="post__body body-text">
      {{ content | replace: '<!--tomb-->', ' &#8718;'}}
    </div>

    {% include partials/post-comments.html %}
  </article>
</main>
