---
layout: default
---

{% include partials/post-navigation.html %}

<main id="main" role="main" class="main">
  <article class="post post--full">
    <div class="constrain">
    	<h1 class="post__title feature-title">
        {% include helpers/generate-feature-title.html title=page.title visualTitle=page.visualTitle %}
      </h1>
      <div class="post-meta post-meta--emphasis">
        {% if page.external-date %}
          <span>Originally published on {% if page.external-url %}<a href="{{ page.external-url }}">{% endif %}{{ page.external-name }}{% if page.external-url %}</a>{% endif %} on {% include helpers/format-date.html date=page.external-date %}</span>
        {% else %}
          <span>{% include helpers/format-date.html date=page.date %}</span>
        {% endif %}
      </div>
    </div>

    <div class="post__body body-text">
      {% if page.audio %}
        <div class="audio-player">
          <div class="audio-player__inner">
            <button class="js-audio-play">
              <svg class="audio-player__icon">
                <use xlink:href="#icon-play"></use>
              </svg>
            </button>

            <button class="js-audio-pause" aria-hidden="true">
              <svg class="audio-player__icon">
                <use xlink:href="#icon-pause"></use>
              </svg>
            </button>

            <span class="audio-player__label">Listen to this post</span>

            <audio class="js-audio">
              <source src="{{ page.audio }}" type="audio/mpeg">
            </audio>
            </div>
        </div>
      {% endif %}

      {% if page.preface %}
        <div class="preface">
          {{ page.preface | markdownify }}
        </div>
      {% endif %}
      
      {{ content | replace: '<!--tomb-->', ' &#8718;'}}
    </div>

    {% if page.disable-comments != true %}
      {% include partials/post-comments.html %}
    {% endif %}
  </article>
</main>
