---
layout: default
title: Video
---
{% assign videos = site.tv | reverse %}
{% assign videoSrc = page.src | default: videos[0].src %}
{% assign videoTitle = page.title | default: videos[0].title %}
{% assign videoDate = page.date | default: videos[0].date %}
{% assign videoPost = page.post | default: videos[0].post %}
{% assign videoContent = page.content | strip_newlines %}

{% if page.url == "/video/" %}
  {% assign videoContent = videos[0].content %}
{% endif %}

{% if videoPost %}
  {% for post in site.posts %}
    {% assign postId = post.date | split: ' ' | first | append: '-' | append: post.slug %}

    {% if postId == videoPost %}
      {% assign linkedPost = post %}         
    {% endif %}
  {% endfor %}
{% endif %}

{% assign excerpt = videoContent | default: linkedPost.excerpt %}

<main id="main" role="main" class="main constrain--padding">
  <div class="tv">
    <div class="tv__screen col col--1-1 col--2-3@medium">
      <div class="tv__video-container">
        <iframe class="tv__video" name="tv" width="560" height="315" src="{{ videoSrc }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <h2 class="tv__video-title">{{ videoTitle }}</h2>
      <p class="tv__video-date">{% include helpers/format-date.html date=videoDate %}</p>

      {% if excerpt %}
        <div class="tv__video-description">
          {{ excerpt }}
        </div>
      {% endif %}

      {% if linkedPost %}
        <a href="{{ linkedPost.url }}">
          <p class="cta tv__video-cta">
            <span class="cta__inner">Read article</span>
          </p>
        </a>      
      {% endif %}      
    </div>
    <div class="tv__playlist col col--1-1 col--1-3@medium">
      <p class="tv__playlist-title">Other videos</p>

      {% for video in videos %}
        {% assign isActive = false %}

        {% if page.url == video.url %}
          {% assign isActive = true %}
        {% endif %}

        {% if page.url == '/video/' and forloop.index == 1 %}
          {% assign isActive = true %}
        {% endif %}

        {% if isActive %}
          <div class="small-card tv__playlist-item tv__playlist-item-active">
            <p class="small-card__pre">{% include helpers/format-date.html date=video.date %}</p>
            <p class="small-card__title">{{ video.title }}</p>
          </div>
        {% else %}
          <a href="{{ video.url }}" class="small-card tv__playlist-item">
            <p class="small-card__pre">{% include helpers/format-date.html date=video.date %}</p>
            <p class="small-card__title">{{ video.title }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>