.audio-player {
  margin: -10px 0 25px 20px;

  * {
    vertical-align: middle;
  }

  @include media('>=medium') {
    margin: 30px 0 25px 0;
    text-align: center;
  }
}

.audio-player__inner {
  display: inline-block;
  background-color: $colour-light-grey;
  padding: 20px;
}

.audio-player__label {
  font-family: $font-family-secondary;
  font-style: normal;
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.3px;
}

.audio-player__icon {
  width: 32px;
  height: 32px;
}