.figure {
  background-image: url(/assets/images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
  margin: ($post-vertical-rythm * 2) auto;
  max-width: 930px;
  min-height: 40px;
  padding: 20px;
  text-align: center;
}

.figure--frame .figure__image,
.figure--frame .figure__video {
  border: 3px double $colour-primary;  
}

.figure--loaded {
  background-image: none;
  min-height: 0;
}

.figure__caption {
  font-size: 0.7em;
}
