.figure {
	margin: ($post-vertical-rythm * 2) 10px;
	text-align: center;
}

.figure--frame {
  background-image: url(/assets/images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
	background-color: $colour-light-grey;
  margin: ($post-vertical-rythm * 2) auto;
  max-width: 930px;
  min-height: 40px;
	padding: 20px;
}

.figure--loaded {
  background-image: none;
  min-height: 0;
}

.figure__caption {
	font-size: 0.7em;
	margin-top: 10px;
}