pre[class^="language-"] {
  padding: 40px 0;
  font-family: $font-family-monospace;
  color: white;
  font-size: 16px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center;

  @include media(">=medium") {
    font-size: 19px;
  }

  code {
    @include constrain;

    display: inline-block;
    background-color: $colour-dark-grey;
    padding: 40px;

    @include media(">=medium") {
      min-width: 700px;
    }
  }

  .lineno {
    display: none;
  }
}
