.masthead-title {
  @include responsive-font(11.4vw, 42px, 100px);

  display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  font-family: $font-family-brand;
  font-weight: $font-weight-ultra-bold;
  font-size: 42px;
  margin: 30px 0 20px 0;

  > * {
		margin: 0.12em;
  }
}
