.toaster {
	position: fixed;
	padding: 25px;
	width: 95%;
    bottom: 15px;
    left: 2.5%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.82);
	color: $colour-background;
}

.toaster__close {
	position: absolute;
	top: -5px;
	right: 10px;
	font-size: 1.5em;
}