// --------------------------------------------------------------
// Colours
// --------------------------------------------------------------

$colour-background: #fffff5;
$colour-primary: #000;
$colour-secondary: #F76C5E;
$colour-error: tomato;
$colour-light-grey: #eeeee5;
$colour-dark-grey: #222222;