// --------------------------------------------------------------
// Grid
// --------------------------------------------------------------

@include im-columns(2, 3);

.col {
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}